html,body{
    margin: 0;
}
header{
    a{
        text-decoration: none;
        color: black;
    }
    height: 150px;
    #header1stline{
        height:100px ;
        display: flex;
        background-color: #4a9cd6;
        #RM_LOGO_header{
            margin: 2px 0px 0px 20px;
            height: 94px;
        }
        .text{
            font-size: 40px;
            font-family: Inter;
            margin: auto;
          }
    }
    #header2ndline{
        height: 60px;
        background-color: #B1DBF9;
        display: flex;
        justify-content: center;
        .OPTIONS{
            display: flex;
            justify-content: center; /* Выравнивание по горизонтали */
            align-items: center; /* Выравнивание по вертикали */
            font-family: Inter;
            height: 60px;
            width: 250px;
            font-size: 28px;
            &:hover{
                background-color: #82B8EB;
            }
        }
    }
}

main{
    .GK, .DEF, .MID, .FOR,.HC{
        margin: 0 0 0 30px;
        display: grid;
        grid-gap: 50px;
       
        a{
            display: grid;
            color: black;
            text-decoration: none;
        }
        
    }
    .GK div, .DEF div, .MID div, .FOR div,.HC div {
        height: 270px;
            border-radius: 35px;
            border: 2px solid black;
            &:hover{
                border:2px solid red;
                transition: 0.2s;
            }  
    }

    .h1gk,.h1def,.h1mid,.h1for,.h1HC{
        margin-left: 4%;
        margin-top: 70px;
        font-size: 40px;
        font-family:  Inter-Bold;
    }
    .gk1,.gk2,.gk3,.d1,.d2,.d3,.d4,.d5,.f1,.f2,.f3,.mid5,.mid4,.mid3,.mid2,.mid1,.C{
        background:linear-gradient( #EDDCDC,#6040DF) ;
        position: relative; /* Делаем позиционирование относительным */
        display: flex;
        justify-content: center;
        align-items: flex-end; /* Измен ено на flex-end для выравнивания внизу */
        span{
            position: relative; /* Делаем позиционирование относительным для текста */
            font-size: 35px;
            text-align: center;
            font-family: Inter;
            background-color: rgba(255, 255, 255, 0.7); 
            border-radius: 35px;
            width: 90%;
            z-index: 1; /* Устанавливаем z-index, чтобы текст был "над" изображением */
           }
        img{
            height: 100%;
            position: absolute; /* Позиционируем изображение абсолютно */
            z-index: 1; /* Устанавливаем z-index, чтобы изображение было "под" текстом */
        }   
    } 
    .GK{
        grid-template-columns: repeat(auto-fill, 200px);
    }
    .DEF{
        grid-template-columns: repeat(auto-fill, 200px);
    }
    .MID{
        grid-template-columns: repeat(auto-fill, 200px);
    }
    .FOR{
        grid-template-columns: repeat(auto-fill, 200px);
    }
    .HC{
        grid-template-columns: 200px;
    }
}
footer {
    margin-top: 50px;
    height: 220px;
    background-color: #4a9cd6;
    
    img {
        height: 90px;
    }
    
    #first_footer {
        display: flex;
        justify-content: center; 
        img {
            margin:15px 10px 0px 0px; 
        }
    }  
    hr{
        width: 900px;
    }
    #second_footer {
        display: flex;
        justify-content: center; 
    }
}  

/* ///////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:1024px) {
    main{
        .h1gk,.h1def,.h1mid,.h1for,.h1HC{
            font-size: 30px;
            margin-top: 50px;
        }
        .gk1,.gk2,.gk3,.d1,.d2,.d3,.d4,.d5,.f1,.f2,.f3,.mid5,.mid4,.mid3,.mid2,.mid1,.C{
        span{
            font-size: 20px;
            width: 78%;
           }
        }
        .GK{
            grid-template-columns: repeat(auto-fill, 150px);
        }
        .DEF{
            grid-template-columns: repeat(auto-fill, 150px);   
        }
        .MID{
            grid-template-columns: repeat(auto-fill, 150px);
        }
        .FOR{
            grid-template-columns: repeat(auto-fill, 150px);
        }
        .HC{
            grid-template-columns: repeat(auto-fill, 150px);
        }
        .GK, .DEF, .MID, .FOR,.HC{
            margin: 0 0 0 20px;
            grid-gap: 35px;
        }
        .GK div, .DEF div, .MID div, .FOR div,.HC div {
            height: 200px;
        }
    }
}
/*///////////////////////////////////////////////////////////////////////*/
@media(max-width:1100px) {
    header{
        #header2ndline{
            justify-content: left;
            align-items: center;
            .OPTIONS{
               display: none;
            }
        }
    }  
 
    footer{
        height: auto;
        #first_footer{
            img{
                height: 70px;
            }
        }
        hr{
            max-width: 700%;
        }
        #second_footer{
            img{
                height: 70px;
            }
        }
    }  

}

@media (max-width:810px) {
   
    footer{
        height: auto;
        #first_footer{
            img{
                height: 50px;
            }
        }
        hr{
            max-width: 70%;
        }
        #second_footer{
            img{
                height: 50px;
            }
        }
    } 
}
@media (max-width:660px) {
    header{
        height: auto;
        #header1stline{
            height: 60px;
            #RM_LOGO_header{
                    height: 55px;
                    margin-left: 0px;
            }
            .text{
                font-size: 30px;
            }
        }
        #header2ndline{
            height:40px ;
            .OPTIONS{
                height:40px ;
                width: 100px;
                font-size: 15px;
            }
        }
    } 
    main{
        margin-bottom: 50px;
        .h1gk,.h1def,.h1mid,.h1for,.h1HC{
            font-size: 25px;
            margin-top: 30px;
        }
        .gk1,.gk2,.gk3,.d1,.d2,.d3,.d4,.d5,.f1,.f2,.f3,.mid5,.mid4,.mid3,.mid2,.mid1,.C{
            img{
                height: 85%;
            }
        span{
            font-size: 12px;
            width: 60%;
           }
        }
        .GK{
            grid-template-columns: repeat(auto-fill, 110px);
        }
        .DEF{
            grid-template-columns: repeat(auto-fill, 110px);   
        }
        .MID{
            grid-template-columns: repeat(auto-fill, 110px);
        }
        .FOR{
            grid-template-columns: repeat(auto-fill, 110px);
        }
        .HC{
            grid-template-columns: repeat(auto-fill, 110px);
        }
        .GK, .DEF, .MID, .FOR,.HC{
            margin: 0 0 0 15px;
            grid-gap: 20px;
        }
        .GK div, .DEF div, .MID div, .FOR div,.HC div {
            height: 135px;
        }
    }
    footer{
        margin-top: 0;
        height: auto;
        #first_footer{
            img{
                height: 40px;
            }
        }
        hr{
            max-width: 70%;
        }
        #second_footer{
            img{
                height: 40px;
            }
        }
    }
}
   
@media (max-width:400px) {
    header{
        height: auto;
        #header1stline{
            height: 40px;
            #RM_LOGO_header{
                    height: 35px;
                    margin-left: 0px;
            }
            .text{
                margin-left: 0;
                font-size: 20px;
            }
        }
        #header2ndline{
            height:30px ;
            .OPTIONS{
                height:30px ;
                width: 75px;
                font-size: 12px;
            }
        }
        #headerfourline{
            height: auto;
            .OPTIONS{
                height: 20px;
                width: 100px;
                font-size: 8px;
            }
        }
    }   
    main{
        .h1gk,.h1def,.h1mid,.h1for,.h1HC{
            font-size: 20px;
        }
    }
    footer{
        margin-top: 0;
        height: auto;
        #first_footer{
            img{
                height: 30px;
            }
        }
        hr{
            max-width: 70%;
        }
        #second_footer{
            img{
                height: 30px;
            }
        }
    }
}

